.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 80%;
    height: 80%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 30%;
    padding-bottom: 30%;
}
  
